<div class="section no-pad-bot index-banner-back index-banner-back-opacity padding-30" id="index-banner"
    style="background-image: url('/uploads/covers/{{post.backcover.path}}')">
    <div class="container">
        <br><br>
        <div class="row center">
            <a class="btn-large black-text">
                {{post.title}}
            </a>
        </div>
        <div class="row center">
        </div>
        <br><br>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m8 top-margin" style="vertical-align: top;">
            <div class="top-margin">
                <div class="card">
                    <div class="card-content" style="white-space: pre-wrap">{{post.content}}</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 top-margin hide-on-small-only" style="vertical-align: top;">
            <div class="top-margin">
                Aquí va algo relacionado
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>