<div class="container">
    <div class="row">
        <h3 class="center-align header">{{post.title}}</h3>
        <div class="col s12 m8 top-margin" style="vertical-align: top;">
            <div class="top-margin">
                <div class="card">
                    <div class="card-content" style="white-space: pre-wrap">{{post.content}}</div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 top-margin hide-on-small-only" style="vertical-align: top;">
            <div class="top-margin">
                Aquí va algo relacionado
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>