div(style="width: 100%;")
    h3(style="text-align: center;") New contact meesage
    p.
        Hello dear. We just receive a request that can interesting you. We received that message from this contact email
        #{email}. The person that build request was supposed to be #[strong #{name}].
    p "#{comment}"