div(style="width: 100%;")
    h3(style="text-align: center;") Reset your password
    p Hello dear #[strong #{username}]. We just receive a request to reset your password. If you did this, you must click link
     | below to do it. Otherwise. Just ignore this email.
    br
    a(href="#{link}") Reset your password
