doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title
            block title
        link(rel="stylesheet" href="/css/materialize.css")
        //link(rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")

    body
        style.
            header, main, footer {
                padding-left: 300px;
            }
            @media only screen and (max-width: 992px) {
                header, main, footer {
                    padding-left: 0;
                }
            }

            .avatar {
                width: 200px;
                height: 200px;
                text-align: center;
                display: block;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background-image: url("/images/jaime.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin-top: 25px;
                margin-bottom: 25px;
            }

        ul#slide-out.side-nav.fixed
            li
                div(style="text-align: center; display: flex; justify-content: center;")
                    div.avatar
            li
                a(href="#!") Inicio
            li
                a(href="#!") Second Sidebar Link
            li
                div.divider
            li
                a(href="/appanel/logout") Cerrar sesión

        a(href="#" data-activates="side-out" class="button-collapse")
            i.material-icons menu

        block content

        script(src="/js/jquery.js")
        script(src="/js/materialize.js")
        script.
            $(function() {
                $(".button-collapse").sideNav({
                    menuWidth: 300,
                    edge: 'right',
                    draggable: true // Choose whether you can drag to open on touch screens
                });
            });


        block script
