doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Reset password
        link(rel="stylesheet" href="/css/materialize.css")
        link(rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")

    body
        style.
            .full-mid-container {
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .mid-container {
                float: none;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @media screen and (max-width: 480px) {
                .flex-width {
                    width: 95%;
                }
            }

            @media screen and (min-width: 481px) {
                .flex-width {
                    width: 50%;
                }
            }

        div.full-mid-container
            div.mid-container
                div.flex-width
                    form(action="/appanel/reset/#{token}" method="post")
                        div.input-field
                            input(type="password" name="password" id="password" required)
                            label(for="password") Contrase침a
                        div.input-field
                            input(type="password" name="confirmPassword" id="confirmPassword" required)
                            label(for="confirmPassword") Confirmaci칩n de contrase침a
                        if failConfirm
                            p #{failConfirm}
                        div.input-field
                            button.btn Cambiar contrase침a


        script(src="/js/jquery.js")
        script(src="/js/materialize.js")