extends base
block title
    | Bienvenido a casa
block content
    style.
        .full-mid-container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mid-container {
            float: none;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media screen and (max-width: 480px) {
            .flex-width {
                width: 95%;
            }
        }

        @media screen and (min-width: 481px) {
            .flex-width {
                width: 50%;
            }
        }

    div.full-mid-container
        div.mid-container
            div.flex-width
                form(action="signup" method="post")
                    div.input-field
                        input(type="text" name="username" id="username" required)
                        label(for="username") Username
                    div.input-field
                        input(type="email" name="email" id="email" required)
                        label(for="email") Email
                    div.input-field
                        input(type="file" name="avatar" id="avatar")
                        label(for="avatar") Avatar
                    div.input-field
                        input(type="password" name="password" id="password" required)
                        label(for="password") Password
                    if error
                        p #{error.message}
                    div.input-field
                        button.btn Sign up