extends ../base
block content
    nav
        div.nav-wrapper
            a(href="/appanel/") Logo
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a Uno
                li
                    a Dos
                li
                    a Uno
    style.

    p This is real
    p #{user.email}

