extends ../../base
block title
    | The post that will change the world
block content
    style.
        .content {
            padding-left: 300px;
            margin-top: 0;
            padding-top: 0;
        }
        .my-container {
            padding: 10px 10px 10px 10px;
        }
        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
    div.content
        div.my-container
            h3(style="text-align: center;") New post
            div.container(style="display: block;")
                if error
                    p #{error}
                form(action="" method="post" enctype="multipart/form-data")
                    div.input-field
                        input(type="text" name="title" id="title" maxlength="125" required)
                        label(for="title") Title
                    div.input-field
                        input(type="text" name="description" id="description" maxlength="255" required)
                        label(for="description") Description
                    div.input-field
                        textarea.materialize-textarea(name="content" id="content" required)
                        label(for="content") Content
                    div.input-field
                        input.datepicker(type="date" name="publicationDate" id="publicationDate")
                        label(for="publicationDate") Publication date
                    div.switch
                        label Inactive
                            input(type="checkbox" name="active" id="active" value="1")
                            span.lever
                            |Active
                    div.field-field.input-field
                        div
                            span Cover
                        input(type="file" name="cover" id="cover" required)
                    div.input-field
                        button.btn Create

block script
    script.
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });