extends ../../base
block title
    | The post that will change the world
block content
    style.
        .content {
            width: 100%;
            padding-left: 300px;
            margin-top: 0;
            padding-top: 0;
            display: inline-block;
            vertical-align: middle;
        }
        .my-container {
            width: 100%;
            padding: 10px 10px 10px 10px;
        }
        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
            .content {
                padding-left: 0;
            }

        }
    div.content
        div.my-container
            h3(style="text-align: center;") New post
            div.container(style="display: block;")
                if error
                    p #{error}
                div.row
                form(action="" method="post" enctype="multipart/form-data" id="theForm")
                    div.input-field.col.s12.m12.l12
                        input(type="text" name="title" id="title" maxlength="125" required)
                        label(for="title") Title
                    div.input-field
                        input(type="text" name="description" id="description" maxlength="255" required)
                        label(for="description") Description
                    div.input-field
                        textarea.materialize-textarea(name="content" id="content" required)
                        label(for="content") Content
                    div.input-field
                        input.datepicker(type="date" name="publicationDate" id="publicationDate")
                        label(for="publicationDate") Publication date
                    div.input-field
                        div.chips.chips-placeholder
                        label Tags
                    div.switch
                        label Inactive
                            input(type="checkbox" name="active" id="active" value="1" checked="checked")
                            span.lever
                            |Active
                    div.field-field.input-field
                        div
                            span Cover
                        input(type="file" name="cover" id="cover" required)
                    div.field-field.input-field
                        div
                            span Back cover
                        input(type="file" name="backcover" id="backcover" required)
                    div.input-field
                        button.btn Create

block script
    script.
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });

        $('.chips-placeholder').material_chip();

        $("#theForm").submit(function(e) {
            var data = [];
            var tags = $(".chips").material_chip("data");
            for (var i in tags) {
                var iTag = tags[i];
                data.push(iTag.tag);
            }

            $("#theForm").append(
                "<input type='hidden' name='tags' value='" + data + "'>"
            );
        });
